label{
    display: inline-block;
    clear: left;
    width: 160px;
    text-align: right;
}
input {
  display: inline-block;
  float: right;
}

select
{
  width: 68px;
}
button {
  transition-duration: 0.4s;
  background-color: #045af8; /* Green */
  color: white;
  border-radius: 6px;

}

button:hover {
  background-color: cornflowerblue; /* Green */
  color: white;
}