<p>Calculate errors or insert them below</p>

<label>Bearing Error
    <input type="number" [(ngModel)]="Errors.bearing" /> 
</label>
<label>Elevation Error
    <input type="number" [(ngModel)]="Errors.elevation" /> 
</label>
<label>Power Error
    <input type="number" [(ngModel)]="Errors.power" /> 
</label>


<p>Insert desired X and Y</p> 
<div class="target"> 
<app-point [(cords)]="TargetPos" [x_label]="'Target X'" [y_label]="'Target Y'"></app-point> </div><br>
<button (click)="BeginTriangulation()">Triangulate Position</button>


<div *ngIf="hasResult">
  <p>Target Bearing = {{this.targetBearing}} </p> 
  <p>Target Eleveation = {{this.targeElevation}} </p>
  <p>Target Power = {{this.targetPower}} </p>

</div>  