<div class="header">
  <h2>About telescience</h2>
  <p>In Space Station 13, telescience is a part of RnD, which purpose is teleporting to derelicts (abandoned labs, space shuttles) and exploring
       them to find disks with important data or rare equipment. But everyone use it to steal Captain's spare ID or take weapons from weaponry. Remember you will be fired (banned) if you do this! (of course if you are a traitor there is no limits)</p>
  
</div>

<div class="row">
  <div class="column" style="background-color:rgb(156, 41, 250); color:rgb(255, 255, 255)">  <app-calculator></app-calculator></div>
  <div class="column" style="background-color:rgb(151, 9, 194); color:rgb(255, 255, 255)"> <app-triangulator></app-triangulator></div>
  <div class="column" style="background-color:rgb(98, 0, 155);color:rgb(255, 255, 255)"> <app-misc></app-misc></div>
</div>

<div class="footer">
  
<h3>Ground control to major Tom</h3>
<p>
    There are two parts of equipment: <strong>Telescience console</strong>  and <strong>Telepad</strong> . Console used to enter values and open portal and telepad is spawning this portal. Console have next parametres: Bearing, Elevation, Power, Sector. 
    They are defining a point (x,y,z) in space. Wait but this is 2D game, how it's possible it have 3 dimensions? Well, Z stands for sector or layer, there are 6 sectors, 1 and 5 are empty space, 2 is sector of station, 3 and 4 used for derelicts and 6 for mining outpost. You can view your position by using Global Positioning System (GPS),    Wher round starts you need to link telepad to console, open maintenance panel of telepad with <strong>screwdriver</strong> ,  get data with <strong>multitool</strong>, close panel, upload data from multitool to console.
    Console needs at least one <strong>bluespace crystal</strong> to open the portal. 
    Usually there are plenty of them in telescience lab. Take all of them and insert into console. 
</p>
<h3>Liftoff</h3>     
<p><strong>Bluespace crystals</strong> need to be <strong>calibrated</strong> first. 
  After each callibration crystals change <strong>errors</strong>, you can open portal 10-20 times before next calibration. 
  You need to find errors to open portal in exact point. There are two approaches to find errors: 
<strong>Power</strong> and <strong>Elevation</strong>. open wormhole, measure output location using GPS, change one of those parametres (power or elevation) on console then open next wormhole, measure second location. Enter data into calculator and now you have errors, now you can access every location. 
<h3>Planet Earth is blue and there is nothing I can do</h3>
<p>Derelicts contains a lot of good stuff, mecha parts, disks with important data, science equipment, hardsuits, scavenge everything. If you are <strong>ROBUST</strong> you can kill Syndicate commandos and take their space suits and weapons.</p>
<p>If you are lucky enough you can find alive people (dead or ghost players can join as them)</p>
<h3>Stars looks very different today</h3>
<p>Telescience is very dangerous job!</p>
<ul>
  <li>Take a weapon! Abandoned labs or stations have a lot of dangers: Syndicate soldiers, hive bots, combat drones, unknown biological forms,laser turrets, <strong>CLOWNS</strong>. You can take kinetic rifle from Research outpost. Use it to propel yourself in space, it has unlimited ammo and can kill somebody when used wise. </li>
  <li>Take tools, you need them to make your way to the disk. Crowbar and screwdriver are essential minimum.</li>
  <li>Take GPS and set tag as your name, it make easier to find your dead body</li>
  <li>Notify somebody about your intentions, maybe they don't forgot about you</li>
  <li>Telescience equipment consumes a lot of energy, let the engieneers configure engine and wait until APC will be fully charged.</li> 
</ul>
<h3>Can you hear me major Tom?</h3>
<p>You forgot about something in list above or something bad happened on station. Now you are lost in space. Propably, you have no chance to return back unless you have a friends on station and they didn't forget about you. In this situation you can message them by changing tag on your GPS to something like SOS.</p>
<h4>I have no friends</h4>
<p>Your space suit is your last hope, if it get  damaged you are dead!</p>
<p>Okay, if there is a chance, wait some time around the place where wormhole was. Somebody can open it again.<br>
If you have a paper with derelicts coordinates, explore them first, use GPS and kinetic weapon or fire extinguisher to navigate yourself in space. You can find stuff that will help you. You can find a working teleport or repair abandoned station. Don't use wielder too much, fuel is hard to find.
Try to repair space shuttles, find a batteries to restore power on them. (Nobody ever done that but may be you will be first who return to the station using your own shuttle)<br> If you have tried everything but nothing works out, go to mining outpost. If you was exploring derelicts your sector is 3 or 4, mining outpost is in 6 sector. But if you are close enough to it (x and y), there is a small chance that gravity (or admin) change your sector (worked out for me one time). <br><strong>Welcome back to the station!</strong>  </p> 



</div>
  

